.beyond-business-section {
    height: 100vh;
    padding: 6.25rem;
    background-color: ffffff;
    align-items: center;
}

#section-photo {
    height: 80vh;
    width: 60%;
    padding: 2rem 4rem;
    border-radius: 6.6rem;
    box-shadow: inset;
}

.title-photo-paragraph {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.section-title-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 4rem;
}

.section-title {
    font-size: 4.5rem;
    font-family: "Times New Roman";
    padding: 2rem 2rem 2rem 0rem;
    align-self: start;
}

.section-paragraph {
    font-size: 2.3rem;
    font-family: "DMSans-Regular";
}
