.header-container {
    padding-top: 3.5rem;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

.header {
    width: 90%;
    margin-inline: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    font-size: 16px;
    padding-bottom: 1.2rem;
    border-bottom: 0.15rem solid #e5e5e5;

}

.navbar {
    display: flex;
    align-items: center;
    color: f3f1f1;
}

.logo {
    padding: 2rem 29rem 1rem 0;
}