.hero-section {
    height: 100vh;
    width: 100%;
    background-image: url("https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg");
    background-size: fit;
    color: white;
}
